body{
    background-color: rgb(227, 234, 234);
    margin: 70px;
}


.App h1{
    /* border: 1px solid orange; */
    text-align: center;
}
.cart{
    display: block;
    margin: auto;
    padding: 10px 20px;
    width: 60vw;
    background-color: white;
    /* border: 1px solid black;  */
    border-top: none;
}

.cart-item{
    display:  flex;
    align-items:center;
    /* justify-content: center; */
    /* border:1px solid blue; */
    border-bottom: 2px solid gray;
}


.product h3{
    text-align: center;
}
.product img{
    display: block;
}

.money, .quantity{
    display: flex;
    align-items: center;
    padding: 40px 40px;
    margin: auto;
}
.quantity button{
    display: inline-block;
    margin:20px;
}